img {
  width: 70px;
  height: 70px;
}
.cuadro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto {
  width: 200px;
  height: 200px;
}
.foto:hover {
  transform: scale(1.5);
}
