<div class="row">
  <div class="col-12 col-lg-6 p-3">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Tipo
        </h4>
      </div>
      <div class="card-body">
        <div class="row p-4">
          <div class="col-12 p-1">
            <h2>
              Tipo:
              <br>
              {{ladata.tipo.Name}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 p-3">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Editar Examen Laboratorio
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row p-4">
            <div class="col-12">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombre
                </label>
                <br>
                <input name="laboratorio.Name"
                  [(ngModel)]="laboratorio.Name"
                  type="text" class="form-control"
                  required minlength="3"
                  autofocus tabindex="1"
                  placeholder=".........">
              </div>
            </div>
            <br>
            <div class="col-12">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Precio
                </label>
                <br>
                <input name="laboratorio.Price"
                [(ngModel)]="laboratorio.Price"
                type="text" class="form-control"
                required minlength="2"
                tabindex="2"
                placeholder="Precio ....">
              </div>
            </div>
            <br>
            <div class="col-12">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Estandares
                </label>
                <br>
                <textarea name="laboratorio.Detail"
                  [(ngModel)]="laboratorio.Detail"
                  class="form-control"
                  required minlength="10"
                  tabindex="3"
                  placeholder="........."
                  cols="30" rows="10"></textarea>
              </div>
            </div>
            <br>
          </div>
          <div class="col-12 p-1">
            <button (click)="updateLaboratorio()" type="submit" class="btn btn-primary pull-right"
              [disabled]="(laboratorio.Name === '' ||  laboratorio.Detail === '' ||  laboratorio.Price === 0)? true:false">
              Actualizar
            </button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
