<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Actualizar Usuario
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombres
                </label>
                <input name="admin.Name"
                [(ngModel)]="admin.Name"
                required minlength="3"
                autofocus tabindex="1"
                type="text" class="form-control"
                placeholder=".........">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Apellidos
                </label>
                <input name="admin.LastName"
                [(ngModel)]="admin.LastName"
                required minlength="5" tabindex="2"
                type="text" class="form-control"
                placeholder=".........">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Celular
                </label>
                <input name="admin.Phone"
                [(ngModel)]="admin.Phone"
                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                required minlength="9" tabindex="3"
                type="text" class="form-control"
                placeholder=".........">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Correo
                </label>
                <input name="admin.Email"
                [(ngModel)]="admin.Email"
                pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
                required minlength="5" tabindex="4"
                type="email" class="form-control"
                placeholder=".........">
              </div>
            </div>
            <div *ngIf="usuario.Condition === 'admin'" class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Contrasenia
                </label>
                <input name="admin.Password"
                [(ngModel)]="admin.Password"
                required minlength="8" tabindex="5"
                type="password" class="form-control"
                placeholder=".........">
              </div>
            </div>
            <div *ngIf="usuario.Condition === 'admin'" class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Rol
                </label>
                <select (change)='onOptionsSelected($event)'
                  id="select-type-basic"
                  class="form-control"
                  [(ngModel)]="admin.Condition"
                  name="admin.Condition"
                  required tabindex="6">
                  <option selected>
                    Seleccione su Rol
                  </option>
                  <option [value]="obj.name" *ngFor="let obj of estado">
                  {{obj.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>
                  Imagen
                </label>
                <br>
                <button (click)="changeImg()"
                type="button" class="btn btn-primary">
                  <input type="file"
                      name="avatar"
                      #file1
                      (change)="changeImagen()"
                      accept=".png,.jpg,.jpeg">
                      Subir Imagen
                </button>
                <br>
                <input name="admin.Photo"
                [(ngModel)]="admin.Photo"
                type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <img class="rounded-circle" [src]="admin.Photo">
            </div>
          </div>
          <button (click)="updateAdmin()"
            type="submit" class="btn btn-primary pull-right"
            [disabled]="(admin.Name === '' ||  admin.LastName === '' ||  admin.Phone === '' ||  admin.Email === '')? true:false">
            Actualizar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
