<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h6>
          Posible descarga
        </h6>
        <button (click)="descargar()" type="button" class="btn btn-pill btn-block btn-success">
          Descargar en PDF
        </button>
      </div>
      <div class="card-body">
        <div id="parapdf" class="col-12 shadow p-5 mb-2 bg-white rounded rounded-lg border border-light fondo">
          <div class="row">
            <div class="col-12 col-md-3 col-lg-4">
              <img id="logo" src="../../../../../assets/img/logo/logo.png">
            </div>
            <div class="col-12 col-md-9 col-lg-8 text-center">
              <h1>
                Millan Gutierrez Servicios Generales E.I.R.L
              </h1>
              <p>
                De: Millan Camposano, Hector Vicehich
              </p>
              <p>
                Jr. Abancay #515 - Huancayo
              </p>
              <p>
                Celular: 951514883
              </p>
            </div>
            <br>
            <br>
            <div class="col-12 col-md-4 col-lg-6">
              <table class="table table-bordered table-light border-dark text-center">
                <tr>
                  <th>
                    RUC : 20606975946
                  </th>
                </tr>
                <tr class="table-success">
                  <th>
                    BOLETA DE VENTA
                  </th>
                </tr>
                <tr>
                  <th>
                    N° {{elcodigo}}
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-12 col-md-8 col-lg-6">
              <p>
                Cliente : {{ticket.cliente.Name + '' + ticket.cliente.LastName}}
              </p>
              <p>
                Correo Cliente: {{ticket.cliente.Email}}
              </p>
              <p>
                <!-- Fecha : {{ticket.Appointment | date: 'dd-MM-yyyy'}} -->
                Fecha : {{ticket.Appointment}}
              </p>
            </div>
            <br>
            <br>
          </div>
          <p class="text-right">Total:  S/. {{ticket.Pay}}.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
