<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Actualizar Numero
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombre
                </label>
                <input name="numero.Name"
                [(ngModel)]="numero.Name"
                type="text" class="form-control"
                required minlength="3"
                autofocus tabindex="1"
                placeholder=".........">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Contador
                </label>
                <input name="numero.Count"
                [(ngModel)]="numero.Count"
                type="text" class="form-control"
                required minlength="2"
                tabindex="2"
                placeholder=".........">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>
                  Imagen
                </label>
                <br>
                <button (click)="changeImg()" type="button" class="btn btn-primary">
                  <input type="file"
                      name="avatar"
                      #file1
                      (change)="changeImagen()"
                      accept=".png,.jpg,.jpeg">
                      Subir Imagen
                </button>
                <br>
                <input name="numero.Image"
                [(ngModel)]="numero.Image"
                type="text" class="form-control"
                readonly>
              </div>
            </div>
            <div class="col-md-4">
              <img class="rounded-circle" [src]="numero.Image">
            </div>
          </div>
          <button (click)="updateNumero()" type="submit" class="btn btn-primary pull-right"
            [disabled]="(numero.Name === '' ||  numero.Image === '' ||  numero.Count === '')? true:false">
            Actualizar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
