<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header text-center card-header-primary">
        <h4 class="text-center">
          Postergar Cita
        </h4>
      </div>
      <div class="card-body">
        <form id="formSearch" class="was-validated" name="formSearch">
          <div class="form-group">
            <label class="form-col-form-label" for="dato">
                Codigo
            </label>
            <input type="text" class="form-control" id="dato" name="dato" [(ngModel)]="dato" required>
            <div class="valid-feedback">
              Campo rellenado.
            </div>
            <div class="invalid-feedback">
              Por favor rellene el campo.
            </div>
          </div>
          <div>
            <button type="submit"  (click)="buscar(dato)"
              class="btn btn-primary btn-lg btn-block btn-pill"
              [disabled]="(dato === '')? true:false">
              buscar
            </button>
          </div>
        </form>
        <br>
        <br>
        <div class="col-12" *ngIf="boleta">
          <div class="container">
            <div class="row">
              <!-- <div class="col-12">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="descargar()">
                  Descargar Boleta
                </button>
              </div> -->
              <br>
              <br>
              <div *ngIf="sebusco" class="col-12 fondo p-4">
                <section class="container">
                  <div class="row">
                    <article class="carta">
                      <section class="date">
                        <time datetime="23th feb">
                          <h6>
                            Codigo: {{ticket.id}}
                          </h6>
                          <span>
                            Fecha: {{lafecha}}
                          </span>
                          Dia:  {{ticket.horario.Day + ' - ' + ticket.horario.hora.Turn}}  <br>  Cupo: {{ticket.horario.Cupo}}
                          <br> Lapzo: {{ticket.horario.hora.Start + ' - ' + ticket.horario.hora.End}}
                        </time>
                      </section>
                      <section class="carta-cont">
                        <h1>
                          Codigo: {{ticket.id}}
                        </h1>
                        <h3>
                          Nombres y Apellidos:
                          <!-- <br> -->
                          {{ticket.cliente.Name + ' ' + ticket.cliente.LastName}}
                        </h3>
                        <h3>
                          Tipo: {{ticket.Type}}
                        </h3>
                        <h3>
                          {{ticket.Condition}}
                        </h3>
                        <div class="even-date">
                          <time>
                            <i class="fa fa-calendar"></i>
                            <span>
                              {{lafecha}}
                            </span>
                          </time>
                        </div>
                        <div class="even-info">
                          <h4>
                            Especialidad: {{ticket.horario.especialista.especialidad.Name}}
                          </h4>
                          <h5>
                            Doctor: {{ticket.horario.especialista.doctor.Name + ' ' + ticket.horario.especialista.doctor.LastName}}
                          </h5>
                          <h6>
                            Dia:  {{ticket.horario.Day + ' -- ' + ticket.horario.hora.Turn}}  ...  Cupo: {{ticket.horario.Cupo}}  ... Lapzo: {{ticket.horario.hora.Start + ' - ' + ticket.horario.hora.End}}
                          </h6>
                        </div>
                        <br>
                        <!-- <button type="submit"
                          data-toggle="modal"
                          data-target="#ModalSigVital"
                          class="btn btn-primary btn-pill">
                          Signos Vitales
                        </button> -->
                      </section>
                    </article>
                  </div>
                </section>
              </div>
              <!-- <div id="parapdf" class="col-12 shadow p-5 mb-2 bg-white rounded rounded-lg border border-light fondo">
              </div> -->
                <!-- <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <img id="logo" src="../../../../../assets/img/logo/logo.png">
                  </div>
                  <div class="col-12 col-md-9 col-lg-8 text-center">
                    <h1>
                      Millan Gutierrez Servicios Generales E.I.R.L
                    </h1>
                    <p>
                      De: Millan Camposano, Hector Vicehich
                    </p>
                    <p>
                      Jr. Abancay #515 - Huancayo
                    </p>
                    <p>
                      Celular: 951514883
                    </p>
                  </div>
                  <br>
                  <br>
                  <div class="col-12 col-md-4 col-lg-6">
                    <table class="table table-bordered table-light border-dark">
                      <tr>
                        <th>
                          RUC : 20606975946
                        </th>
                      </tr>
                      <tr class="table-success">
                        <th>
                          BOLETA DE VENTA
                        </th>
                      </tr>
                      <tr>
                        <th>
                          N° {{elcodigo}}
                        </th>
                      </tr>
                    </table>
                  </div>
                  <div class="col-12 col-md-8 col-lg-6">
                    <p>
                      Cliente : {{ticket.cliente.Name + '' + ticket.cliente.LastName}}
                    </p>
                    <p>
                      Correo Cliente: {{ticket.cliente.Email}}
                    </p>
                    <p>
                      Fecha : {{ticket.Appointment}}
                    </p>
                  </div>
                  <br>
                  <br>
                </div>
                <p class="text-right">Total:  S/. {{ticket.Pago}}.00</p> -->

            </div>
          </div>
          <div class="container">
            <div class="col-12 p-3">
              <form id="formPostpone" class="was-validated" name="formPostpone">
                <div class="form-group">
                  <label class="form-col-form-label" for="datito">
                      Fecha de Postergacion
                  </label>
                  <input type="date" class="form-control" id="datito" name="datito" [min]="stringmin" [max]="stringmax" [(ngModel)]="datito" required>
                  <div class="valid-feedback">
                    Campo rellenado.
                  </div>
                  <div class="invalid-feedback">
                    Por favor rellene el campo.
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block btn-pill" (click)="postergar(datito)"
                    [disabled]="(datito === fechaActual)? true:false">
                    Postergar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
