<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Crear Banner
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Titulo
                </label>
                <input name="banner.Title"
                [(ngModel)]="banner.Title"
                type="text" class="form-control"
                required minlength="3"
                autofocus tabindex="1"
                placeholder=".........">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Estado
                </label>
                <input name="banner.Condition"
                  [(ngModel)]="banner.Condition"
                  type="text" class="form-control"
                  required minlength="6"
                  tabindex="1" placeholder="activo o desactivo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>
                  Imagen
                </label>
                <br>
                <button (click)="changeImg()" type="button" class="btn btn-primary">
                  <input type="file"
                      name="avatar"
                      #file1
                      (change)="changeImagen()"
                      accept=".png,.jpg,.jpeg">
                      Subir Imagen
                </button>
                <br>
                <input name="banner.Image"
                [(ngModel)]="banner.Image"
                type="text" class="form-control"
                readonly>
              </div>
            </div>
            <div class="col-md-4">
              <img class="rounded-circle" [src]="banner.Image">
            </div>
          </div>
          <button (click)="saveBanner()" type="submit" class="btn btn-primary pull-right"
            [disabled]="(banner.Title === '' ||  banner.Condition === '' ||  banner.Image === '')? true:false">
            Crear
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
